
/*boton que salva el cambio de url LINKEDIN*/

#btn-change:hover{ /*para que no se aclare cuando se le esta encima*/
    color: whitesmoke;
    background-color: rgba(13, 110,253);

}

/*FIN boton que salva el cambio de url LINKEDIN*/
/*.............................................................................................*/


/*MAQUILLAJE DE REDES*/


ul li button{ 
    color: whitesmoke !important;/*le da color a los iconos*/
    position: relative;/*nuevamente, esto permite ajustar el tamaño*/
    border-radius: 50%;
    
}



#change:hover{ /*cuando se posa el mouse en las redes, gris para dar idea de edit*/
    color: rgba(168, 164, 164, 0.7);
}


/* FIN MAQUILLAJE DE REDES*/
/*.........................................................................................................*/







/*MAQUILLAJE DE BOTON LOGOUT*/
.fa-right-from-bracket:hover{ /*cuando se posa el mouse en logout*/

    color: RED;
    
}



/* FIN MAQUILLAJE DE BOTON LOGOUT*/
/*.......................................................................................................*/


/*MAQUILLAJE PARA ELECCION DE FOTO DE PERFIL*/


img{
    height: 12.5rem;
}
.photo-perfil-div{
    height: 14rem;
    width: 14rem;
    margin-top: 12rem;
    
    position:relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    overflow: hidden;
    border:0.4rem solid rgb(114, 111, 111) ;
    
}
#foto-nom{
    margin-left: -1rem;
}
#nombre-apellido{
    margin-top: -6rem !important;
}
#photo{
    height: 100%;
    width: 100%;

}
#file{
    display: none;
}

#btn-upload{
    height: 2.5rem;
    width: 100%;
    position:absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    color: wheat;
    line-height: 1.8rem;
    font-size: rem;
    cursor: pointer;
    display: none;
}



/*..............................................................................................................*/



/*posicion del conjunto de opciones para editar*/
.list-group{
    margin-top: 8rem;
    margin-left: -9rem;
    

}
.list-group-item{
    color: #90d3f1;
}

/*adicion de datos personales*/
.titulo{

    color: whitesmoke;
    margin-top: 10rem;
    margin-right: 10rem;
}

/*color a "Seleccionar foto"*/
.form-label{

    color: whitesmoke;
}

/*posicionar el nav de edicion*/
.d-flex{
    margin-top: 10rem;
    
}

#nombre-apellido{
    margin-top: 18rem;
}



/*AQUI MAQUILLAMOS EL ABOUT-ME*/


/*color de la palabra descripcion*/
.form-label{

    color: whitesmoke;
   
    
}


/*tamaño del text-area*/
#text-area{
    width: 41rem;
    margin-left: -2rem;
}

/*distancia del boton save de descripcion sobre el text area*/

.btn-save{
    margin-top: -1.4rem;
}



